/* 頂部顯示區塊 */
#header {
    top: 0;
    background: url("/src/img/top_bg.svg")no-repeat;
    height: 80px;
    width: 100%;
}

#logo {
    background: url("/src/img/web_logo_dummy.png") no-repeat;
    width: 100%;
    height: 28px;
    margin-top: 24px;
    margin-left: 200px;
}

#second-stage {
    background-color: #E6E6E6;
    height: 80px;
    margin-top: 28px;
    
}

#second-stage .sport-type {
    vertical-align: middle;
    line-height: 80px;
    color: #A1A1A1;
    font-size: 24px;
    display: inline-block;
    margin-right: 60px;
}

#second-stage .sport-type.active {
    color: #FF0050
}

#second-stage .sport-type a {
    color: inherit;
    text-decoration: none;
}

#second-stage .sport-type img {
    vertical-align: text-top;
}

nav {
    --bs-breadcrumb-divider: '>';
    font-family: Microsoft Sans Serif;
}

nav ol.breadcrumb {
    font-size: 14px;
}

nav ol.breadcrumb li a {
    text-decoration: none;
    color: #A5A5A5;
}

nav ol.breadcrumb li img {
    width: 14px;
    height: 14px;
}

nav ol.breadcrumb li.active {
    color: #FF0050;
}

#footer {
    bottom: 0px;
    z-index: 7;
    background-color: #F3F3F3;
    height: 183px;
}

#footer-mobile{
    display: none;
}

#footer-pic {
    background: url(./src/img/web_logo_dummy.png);
    height: 28px;
    width: 175px;
    margin: auto;
    margin-top: 36px;

}

.LiveStrem {
    height: 32px;
    width: 132px;
    background-color: #FF0050;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}

.my-iframe {
    width: 80vw;
    max-width: 1520px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    height: 45vw;
}

.mobile-stream-frame{
    display: none;
}

.webPage{
    display: table-header-group;
}
.mobilePage{
    display: none;
}
.bread-container{
    margin-top:110px;
}
#stream-button-list-mobile{
    display: none;
}
#info-mobile{
    display: none;
}